*{
   font-size: 30px;
}
.welcome{
    margin-left: 20%;
    margin-top: 5%;
    line-height: 50px;
}
#p1{
    color: rgb(196,102,255);
    font-family: Ink Free;
    font-size: 70px;
    
}

body{
    
    width: 100%;
    background-size: 100% 100%; 
    background-image:  url("LoginImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
